In [1]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/lego-analysis/master/datasets/lego_sets.csv')
parent_theme = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/lego-analysis/master/datasets/parent_themes.csv')

In [2]:
df

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space
...,...,...,...,...,...,...
11981,NaN,NaN,2014,NaN,NaN,Minecraft
11982,NaN,NaN,2006,NaN,NaN,Super Heroes
11983,NaN,NaN,2017,NaN,NaN,Minecraft
11984,NaN,NaN,2017,8.0,NaN,Super Heroes
11985,NaN,NaN,2003,NaN,NaN,Harry Potter

In [6]:
theme = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/lego-analysis/master/datasets/lego_sets.csv')

theme.head()

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space

In [7]:
theme.head(50)

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space
5,0014-1,Space Mini-Figures,1979,12.0,Supplemental,Space
6,0015-1,Space Mini-Figures,1979,NaN,Supplemental,Space
7,0016-1,Castle Mini Figures,1978,NaN,Castle,Castle
8,00-2,Weetabix Promotional House 1,1976,NaN,Building,Legoland
9,00-3,Weetabix Promotional House 2,1976,NaN,Building,Legoland
10,00-4,Weetabix Promotional Windmill,1976,126.0,Building,Legoland
11,005-1,Basic Building Set in Cardboard,1965,35.0,Basic Set,Classic
12,00-6,Special Offer,1985,3.0,Classic Town,Town
13,00-7,Weetabix Promotional Lego Village,1976,NaN,Building,Legoland
14,010-1,Basic Building Set in Cardboard,1965,57.0,Basic Set,Classic
15,010-3,Basic Building Set,1968,77.0,Basic Set,Classic
16,011-1,Basic Building Set,1968,145.0,Basic Set,Classic
17,022-1,Basic Building Set,1968,110.0,Basic Set,Classic
18,03093-1,The Race to Build It Board Game,1999,NaN,Game,Gear
19,033-2,Basic Building Set,1968,NaN,Basic Set,Classic
20,044-1,Basic Building Set,1968,NaN,Basic Set,Classic
21,055-2,Basic Building Set,1968,NaN,Basic Set,Classic
22,066-1,Basic Building Set,1968,NaN,Basic Set,Classic
23,080-1,Basic Building Set with Train,1967,710.0,Basic Set,Classic
24,088-1,Super Set,1969,615.0,Basic Set,Universal Building Set
25,10000-1,Guarded Inn,2001,256.0,Castle,Castle
26,10001-1,Metroliner,2001,NaN,Train,Train
27,10002-1,Railroad Club Car,2001,272.0,Train,Train
28,10003-1,1 x 2 Sand Red Bricks,2001,100.0,Bulk Bricks,Bulk Bricks
29,10004-1,2 x 2 Sand Red Bricks,2001,100.0,Bulk Bricks,Bulk Bricks
30,10005-1,2 x 4 Sand Red Bricks,2001,50.0,Bulk Bricks,Bulk Bricks
31,10006-1,1 x 6 Sand Red Bricks,2001,50.0,Bulk Bricks,Bulk Bricks
32,10007-1,2 x 4 Sand Red Ridge Roof Tiles Steep Slope,2001,25.0,Bulk Bricks,Bulk Bricks
33,10008-1,2 x 4 Roof Tile Sand Red,2001,50.0,Bulk Bricks,Bulk Bricks
34,10009-1,Assorted Blue Bricks,2001,62.0,Bulk Bricks,Bulk Bricks
35,100-1,4.5V Motor with Wheels (Small Version),1966,16.0,4.5V,Train
36,10010-1,Assorted Yellow Bricks,2003,63.0,Bulk Bricks,Bulk Bricks
37,10011-1,Assorted Blue Plates,2001,42.0,Bulk Bricks,Bulk Bricks
38,10012-1,Assorted Yellow Plates,2001,NaN,Bulk Bricks,Bulk Bricks
39,10013-1,Open Freight Wagon,2001,NaN,My Own Train,Train
40,10014-1,Caboose,2001,170.0,My Own Train,Train
41,10015-1,Passenger Wagon,2001,194.0,My Own Train,Train
42,10016-1,Tanker,2001,128.0,My Own Train,Train
43,10017-1,Hopper Wagon,2001,228.0,My Own Train,Train
44,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars
45,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars
46,100-2,4.5V Motor with Wheels (Large Version),1966,27.0,4.5V,Train
47,10020-1,"Santa Fe Super Chief, NOT the Limited Edition",2002,NaN,9V,Train
48,10020-2,"Santa Fe Super Chief, Limited Edition",2002,NaN,9V,Train
49,10021-1,U.S.S. Constellation,2003,NaN,Hobby Sets,Hobby Sets

In [10]:
theme = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/lego-analysis/master/datasets/lego_sets.csv')

In [11]:
df

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space
...,...,...,...,...,...,...
11981,NaN,NaN,2014,NaN,NaN,Minecraft
11982,NaN,NaN,2006,NaN,NaN,Super Heroes
11983,NaN,NaN,2017,NaN,NaN,Minecraft
11984,NaN,NaN,2017,8.0,NaN,Super Heroes
11985,NaN,NaN,2003,NaN,NaN,Harry Potter

In [12]:
theme.head(50)

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space
5,0014-1,Space Mini-Figures,1979,12.0,Supplemental,Space
6,0015-1,Space Mini-Figures,1979,NaN,Supplemental,Space
7,0016-1,Castle Mini Figures,1978,NaN,Castle,Castle
8,00-2,Weetabix Promotional House 1,1976,NaN,Building,Legoland
9,00-3,Weetabix Promotional House 2,1976,NaN,Building,Legoland
10,00-4,Weetabix Promotional Windmill,1976,126.0,Building,Legoland
11,005-1,Basic Building Set in Cardboard,1965,35.0,Basic Set,Classic
12,00-6,Special Offer,1985,3.0,Classic Town,Town
13,00-7,Weetabix Promotional Lego Village,1976,NaN,Building,Legoland
14,010-1,Basic Building Set in Cardboard,1965,57.0,Basic Set,Classic
15,010-3,Basic Building Set,1968,77.0,Basic Set,Classic
16,011-1,Basic Building Set,1968,145.0,Basic Set,Classic
17,022-1,Basic Building Set,1968,110.0,Basic Set,Classic
18,03093-1,The Race to Build It Board Game,1999,NaN,Game,Gear
19,033-2,Basic Building Set,1968,NaN,Basic Set,Classic
20,044-1,Basic Building Set,1968,NaN,Basic Set,Classic
21,055-2,Basic Building Set,1968,NaN,Basic Set,Classic
22,066-1,Basic Building Set,1968,NaN,Basic Set,Classic
23,080-1,Basic Building Set with Train,1967,710.0,Basic Set,Classic
24,088-1,Super Set,1969,615.0,Basic Set,Universal Building Set
25,10000-1,Guarded Inn,2001,256.0,Castle,Castle
26,10001-1,Metroliner,2001,NaN,Train,Train
27,10002-1,Railroad Club Car,2001,272.0,Train,Train
28,10003-1,1 x 2 Sand Red Bricks,2001,100.0,Bulk Bricks,Bulk Bricks
29,10004-1,2 x 2 Sand Red Bricks,2001,100.0,Bulk Bricks,Bulk Bricks
30,10005-1,2 x 4 Sand Red Bricks,2001,50.0,Bulk Bricks,Bulk Bricks
31,10006-1,1 x 6 Sand Red Bricks,2001,50.0,Bulk Bricks,Bulk Bricks
32,10007-1,2 x 4 Sand Red Ridge Roof Tiles Steep Slope,2001,25.0,Bulk Bricks,Bulk Bricks
33,10008-1,2 x 4 Roof Tile Sand Red,2001,50.0,Bulk Bricks,Bulk Bricks
34,10009-1,Assorted Blue Bricks,2001,62.0,Bulk Bricks,Bulk Bricks
35,100-1,4.5V Motor with Wheels (Small Version),1966,16.0,4.5V,Train
36,10010-1,Assorted Yellow Bricks,2003,63.0,Bulk Bricks,Bulk Bricks
37,10011-1,Assorted Blue Plates,2001,42.0,Bulk Bricks,Bulk Bricks
38,10012-1,Assorted Yellow Plates,2001,NaN,Bulk Bricks,Bulk Bricks
39,10013-1,Open Freight Wagon,2001,NaN,My Own Train,Train
40,10014-1,Caboose,2001,170.0,My Own Train,Train
41,10015-1,Passenger Wagon,2001,194.0,My Own Train,Train
42,10016-1,Tanker,2001,128.0,My Own Train,Train
43,10017-1,Hopper Wagon,2001,228.0,My Own Train,Train
44,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars
45,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars
46,100-2,4.5V Motor with Wheels (Large Version),1966,27.0,4.5V,Train
47,10020-1,"Santa Fe Super Chief, NOT the Limited Edition",2002,NaN,9V,Train
48,10020-2,"Santa Fe Super Chief, Limited Edition",2002,NaN,9V,Train
49,10021-1,U.S.S. Constellation,2003,NaN,Hobby Sets,Hobby Sets

In [13]:
df = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/lego-analysis/master/datasets/lego_sets.csv')
theme = pd.read_csv('https://raw.githubusercontent.com/KeithGalli/lego-analysis/master/datasets/parent_themes.csv')

theme.head(50)

     id                      name  is_licensed
0     1                   Technic        False
1    22                   Creator        False
2    50                      Town        False
3   112                    Racers        False
4   126                     Space        False
5   147                   Pirates        False
6   155         Modular Buildings        False
7   158                 Star Wars         True
8   186                    Castle        False
9   204             Designer Sets        False
10  206                  Seasonal        False
11  233                     Train        False
12  246              Harry Potter         True
13  252              Architecture        False
14  254               Bulk Bricks        False
15  258                Mindstorms        False
16  263  Pirates of the Caribbean         True
17  264             Indiana Jones         True
18  269                      Cars         True
19  270                    Ben 10         True
20  271          Prince of Persia         True
21  272     SpongeBob SquarePants         True
22  273                   Studios        False
23  275                 Toy Story         True
24  276                Sculptures        False
25  278                Model Team        False
26  279                 4 Juniors        False
27  296               Adventurers        False
28  301                     Other        False
29  302                    Agents        False
30  304                Alpha Team        False
31  307                  Aquazone        False
32  315                  Atlantis        False
33  317                    Avatar         True
34  318                  Belville        False
35  324                  Bionicle        False
36  363                      Boat        False
37  364  Building Set with People        False
38  365                   Classic        False
39  384                 Dino 2010        False
40  385               Dino Attack        False
41  386                 Dinosaurs        False
42  387                 Discovery        False
43  388     Disney's Mickey Mouse         True
44  389                 Exo-Force        False
45  390                  Fabuland        False
46  397                   Factory        False
47  398         FIRST LEGO League        False
48  399                 Freestyle        False
49  400              Hero Factory        False

In [14]:
df.head()

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space

In [16]:
merged = df.merge(theme, left_on='parent_theme', right_on='name')

merged.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,name_y,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,Legoland,False
1,00-2,Weetabix Promotional House 1,1976,NaN,Building,Legoland,411,Legoland,False
2,00-3,Weetabix Promotional House 2,1976,NaN,Building,Legoland,411,Legoland,False
3,00-4,Weetabix Promotional Windmill,1976,126.0,Building,Legoland,411,Legoland,False
4,00-7,Weetabix Promotional Lego Village,1976,NaN,Building,Legoland,411,Legoland,False

In [17]:
merged.drop(columns='name_y')

merged.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,name_y,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,Legoland,False
1,00-2,Weetabix Promotional House 1,1976,NaN,Building,Legoland,411,Legoland,False
2,00-3,Weetabix Promotional House 2,1976,NaN,Building,Legoland,411,Legoland,False
3,00-4,Weetabix Promotional Windmill,1976,126.0,Building,Legoland,411,Legoland,False
4,00-7,Weetabix Promotional Lego Village,1976,NaN,Building,Legoland,411,Legoland,False

In [18]:
merged = merged.drop(columns='name_y') # had to add merged = , in order to reset the dataframe

merged.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,False
1,00-2,Weetabix Promotional House 1,1976,NaN,Building,Legoland,411,False
2,00-3,Weetabix Promotional House 2,1976,NaN,Building,Legoland,411,False
3,00-4,Weetabix Promotional Windmill,1976,126.0,Building,Legoland,411,False
4,00-7,Weetabix Promotional Lego Village,1976,NaN,Building,Legoland,411,False

In [22]:
licensed = merged[merged ['is_licensed']]

licensed.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
3493,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars,158,True
3494,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3495,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,Star Wars,158,True
3496,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars,158,True
3497,10123-1,Cloud City,2003,707.0,Star Wars Episode 4/5/6,Star Wars,158,True

In [24]:
star_wars=licensed[licensed['parent_theme']== 'Star wars']

star_wars.head()

Empty DataFrame
Columns: [set_num, name_x, year, num_parts, theme_name, parent_theme, id, is_licensed]
Index: []

In [25]:
star_wars.head(50)

Empty DataFrame
Columns: [set_num, name_x, year, num_parts, theme_name, parent_theme, id, is_licensed]
Index: []

In [29]:
licensed = merged[merged ['is_licensed']]
licensed.head()
star_wars=licensed[licensed['parent_theme']== 'Star wars']

the_force = int(star_wars.shape[0]/licensed.shape[0]*100)
print(the_force)

0

In [30]:
licensed_sorted = licensed.sort_values('year')
licensed_sorted['count']= 1
licensed_sorted.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed,count
3696,7150-1,TIE Fighter & Y-wing,1999,NaN,Star Wars Episode 4/5/6,Star Wars,158,True,1
3702,7161-1,Gungan Sub,1999,379.0,Star Wars Episode 1,Star Wars,158,True,1
3691,7141-1,Naboo Fighter,1999,179.0,Star Wars Episode 1,Star Wars,158,True,1
3705,7171-1,Mos Espa Podrace,1999,NaN,Star Wars Episode 1,Star Wars,158,True,1
3671,7101-1,Lightsaber Duel,1999,NaN,Star Wars Episode 1,Star Wars,158,True,1

In [31]:
licensed_sorted.groupby(['year','parent_theme']).sum()

C:\Users\Student\AppData\Local\Temp\ipykernel_12932\1225673873.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  licensed_sorted.groupby(['year','parent_theme']).sum()

                               num_parts     id  is_licensed  count
year parent_theme
1999 Star Wars                    1384.0   2054           13     13
2000 Disney's Mickey Mouse         405.0   1940            5      5
     Star Wars                    2580.0   4108           26     26
2001 Harry Potter                 1582.0   3444           14     14
     Star Wars                    2949.0   2212           14     14
...                                  ...    ...          ...    ...
2017 Disney Princess               694.0   4053            7      7
     Minecraft                    6220.0   7501           13     13
     Pirates of the Caribbean     2286.0    263            1      1
     Star Wars                    7583.0   8690           55     55
     Super Heroes                18443.0  49646          103    103

[83 rows x 4 columns]

In [32]:
max_df.sort_values('year', inplace=True)
max_df

NameError: name 'max_df' is not defined

In [35]:
#licensed_sorted = licensed.sorted_values('year')
#summed_df = licensed_sorted.groupby(['year','parent_theme']).sum().reset_index()

In [37]:
#max_df.sort_values('year', inplace=True)
#max_df